@font-face {
  font-family: "Roboto";
  src: url(../../assets/fonts/roboto-400-regular.woff2);
}

@font-face {
  font-family: 'Roboto Slab';
  src: url(../../assets/fonts/roboto-slab-400-regular.woff2);
}
.page {
  background-color: #fff;
  font-family: "Roboto", 'Times New Roman', Times, serif;
  max-width: 100vw;
  width: 100%;
}



