.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0000004d;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s, opacity 0.25s linear;
  }
  
  .modal_opened {
    visibility: visible;
    opacity: 1;
  }
  
  .modal__content {
    background-color: #fff;
    position: relative;
    padding: 28px 28px 36px;
    max-width: 33vw;
    width: 100%;
    min-height: 100px; 
    border-radius: 12px;
  }
  
  .modal__close {
  position: absolute;
  cursor: pointer;
  background-image: url(../../assets/close.svg);
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.5s ease-in-out;
  padding: 0;
  top: -40px;
  right: -40px;
  cursor: pointer;
  }
  
  .modal__close:hover {
    opacity: 75%;
  }
  
  .modal__title {
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: #000;
  }
  
  
  .modal__switch-button {
  max-width: 100px;
  background: #fff;
  border: 0;
  margin: 16px auto 0 auto;
  color: #2F71E5;
  cursor: pointer;
  line-height: 1.5;
  font-weight: 700;
  font-size: 16px;
  }
  