.nav {
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    min-height: 80px;
    border-bottom: 1px solid #D1D2D6;
}

.nav__static-link {
  margin: auto auto auto 105px;
}

.nav__logo-home {
   text-decoration: none;
   color: #fff;
   cursor: pointer;
   font-size: 20px;
   font-weight: 700;
   line-height: 1.2;
}

.nav__dynamic-links {
    display: flex;
    gap: 42px;
    margin: auto 104px auto auto;
}

.nav__home-link {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    margin: auto 0 auto 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
}

.nav__saved-articles {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    margin: auto 0 auto 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    white-space: nowrap;
}

.nav__button {
  width: 176px;
  height: 48px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 26px;
  background: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  padding: 0;
}

.nav__user-button {
    max-width: 130px;
    width: 130px;
    min-height: 48px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    border-radius: 26px;
    background: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    padding: 0;
}

.nav__user-button-saved {
    max-width: 130px;
    width: 130px;
    min-height: 48px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    border-radius: 26px;
    background: transparent;
    color: white;
    border: 1px solid #000;
    cursor: pointer;
    padding: 0; 
}

.nav__user-div {
    display: flex;
    justify-content: center;
}

.nav__user-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
    text-overflow: ellipsis;
}

.nav__user-button_img {
    max-width: 24px;
    width: 100%;
    min-height: 24px;
    padding: 0;
    margin-left: 8px;
}

.saved-news-nav {
    color: black;
}

@media screen and (max-width: 750px) {
    .nav__static-link {
        margin: auto auto auto 40px;
    }

    .nav__dynamic-links {
        margin: auto 40px auto auto;
    }
}

@media screen and (max-width: 600px) {
  .nav__button {
    width: 100px
  }

  .nav__user-button {
    max-width: 100px; 
  }

  .nav__user-button-saved {
    max-width: 100px;
  }

  .nav__user-text {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 55px;
    font-size: 17px;
  }

    .nav__dynamic-links {
    gap: 12px;
    position: relative;
  }

  .nav__home-link {
    position: absolute;
    top: 80px;
    right: -300px;
    opacity: 1;
    transition: opacity 0.25s linear;
  }

  .nav__saved-articles {
    position: absolute;
    top: 80px;
    opacity: 0;
    transition: opacity 0.25s linear;
  }

  .nav__dynamic-links_on {
    opacity: 1;
  }

  .nav__home-on {
    right: 200px;
  }
}